body {
  font-size: 18px;
  background-image: url('https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: repeat;
  background-attachment: fixed;
}

#main {
  max-width: 600px;
  margin: auto;
}

#header {
  text-align: center;
  padding: 0px;
  margin: 0;
  width: 100%;
  font-weight: bold;
  color: #ffffff;
  background: rgb(255, 250, 250, 0);
}

#field {
  color: black;
  width: 100%;
  background: rgb(250, 235, 215, 0.6);
  padding: 20px;
  border-radius: 15px;
  font-family: 'Quicksand', sans-serif;
}

#name {
  width: 100%;
  margin: 2px 0px 10px 0px;
}

#number {
  width: 100%;
  margin: 2px 0px 10px 0px;
}

#email {
  width: 100%;
  margin: 2px 0px 10px 0px;
}

#submit {
  width: 100%;
}

select {
  width: 100%;
  margin: 2px 0px 10px 0px;
}

textarea {
  width: 100%;
}

.input-radio,
.input-checkbox {
  width: 20px;
  float: left;
}

label {
  width: 600px;
  float: left;
}

#title {
  font-family: 'Allura', cursive;
  font-size: 60px;
}

#description {
  font-family: 'Quicksand', sans-serif;
}
